<%-include("header") -%>

<div class="outer-container-allusers">
    <div class="main-container">

        <h2>List Of All The Residents:</h2>

        <table class="table table-dark table-hover table-striped table-bordered users-table ">
            <thead class="bg-info">
                <tr>
                    <th>Sr No.</th>
                    <th>Name</th>
                    <th>Flat Alloc Date</th>
                    <th>Rent Details</th>
                    <th>Bill Details</th>
                    <!--  <TH>Pending Approvals</TH>-->
                </tr>
            </thead>
            <tbody class="allusers-table">
                <% receivedData.forEach(function(dataItem){ %>
                <tr>
                    <td><%= ID %></td>
                    <td> <%= dataItem.name %><i class="fa fa-pencil-square  btn btn-sm btn-light edit-user"></i><i
                            class="fas fa-trash btn btn-sm btn-danger del-user"></i></td>
                            <td><%= dataItem.startingDate %></td>
                    <td><a href="tenantRent/<%=ID %> "><i class="fas fa-info-circle btn btn-sm btn-light"></i></a></td>
                    <td><a href="tenantBill/<%=ID %> "><i class="fas fa-info-circle btn btn-sm btn-light "></i></a></td>
                    </tr>
                        <% }); %>

            </tbody>
        </table>

        <a class="btn btn-md btn-outline-warning add-user" href="tenantAddTable"> Add New Tenant</a>

    </div>
</div>
<%-include("footer") -%>