<%-include("header") -%>
<div class="outer-container-tenantRent">
    <div class="main-container">
        <h2>Rent History For: <%=tenantName%> (Flat No: <%=tenantID%>)</h2>


        <table class="table table-dark table-hover table-striped table-bordered users-table ">
            <thead class="bg-primary">
                <tr>
                    <th>Month</th>
                    <th>Rent Amt.</th>
                    <th>Previous Dues</th>
                    <th>Paid Amount</th>
                    
 
                    <th>Payment status:</th>

                </tr>
            </thead>
            <tbody >
             
                <% receivedData.forEach(function(data){ %>

                    <tr>


                    <td>
                        <%= data.month %>
                    </td>
                    <td><%=fixedRent%></td>

                    <td class="pa"> <%= data.pendingAmount %></td>
                    <td> <%= data.paidAmount %></td>
                    
                   
                    <td> <%= data.rentPaymentStatus %></td>


                    </tr>

               <% });%>
               
                    <tr>
                        <form action="/tenantRent/<%= tenantID %>" method="POST">
                        
                            <td> <select name="rentMonth" class="dropdown form-control"  required id="rentMonth">
                                <option value="Jan">January</option>
                                <option value="Feb">February</option>
                                <option value="Mar">March</option>
                                <option value="Apr">April</option>
                                <option value="May">May</option>
                                <option value="Jun">June</option>
                                <option value="Jul">July</option>
                                <option value="Aug">August</option>
                                <option value="Sep">September</option>
                                <option value="Oct">October</option>
                                <option value="Nov">November</option>
                                <option value="Dec">December</option>
            
                            </select> 
                        </td> 

                        <td>
                            <input class="form-control no-spin" type="number" name="fixedRent"  readonly  value="<%= fixedRent %>" id="fixedRent">

                        </td>
                        <td>
                            <input class="form-control no-spin" type="number" name="pendingRent"  readonly  value="<%= pending %>" id="pendingRent" >


                        </td>
                        <td>
                            <input class="form-control no-spin" type="number" name="paidAmount" min=0 required value="<%= paidAmount %> " id="paidAmount">
                        </td>

                       

                        

                        <td>
                            <select class="dropdown form-control" name="paymentStatus">
                                <option value="PAID"><span class="green"></span>PAID</span></option>
                            
                            <option value="UNPAID"> <span class="red">UNPAID</span> </option>
                            <option value="PARTIAL"> <span class="yellow">PARTIAL</span> </option>
                            </select>
                        </td>


                        
                        
                        
                        




                    </tr>

            </tbody>
        </table>

        <button class="btn btn-md btn-info" type="submit" >Update</button>
    </form>

    </div>

</div>

<script defer>
   

</script>

<%-include("footer") -%>