<%-include("header") -%>
<div class="outer-container-tenantRent">
    <div class="main-container">
        <h2>Rent History For: <%=tenantName%> (Flat No: <%=tenantID%>)</h2>
       
        <table class="table table-dark table-hover table-striped table-bordered users-table tableBodyScroll " id="tableBodyScroll1">
            <thead class="bg-info">
                <tr>
                    <th>Month</th>
                    <th>Rent Amt.</th>
                    <th>Due Amt.</th>
                    <th>Paid Amt.</th>
                    <th>Paid On</th>
                        
                    <th>Payment Status:</th>

                </tr>
            </thead>
            
            <tbody  >
             
                <% receivedData.forEach(function(data){ %>

                    <tr>


                    <td>
                       <b><%= data.month %></b> 
                      <%if(receivedData[receivedData.length-1].month===data.month){%>  <a href="/tenantRent/delete/<%=tenantID%>/<%=data.month%>"> <i class="fas fa-trash btn btn-sm btn-danger del-user-rent"></i></a><%}%>
                    </td>
                    <td>₹ <%=fixedRent%></td>

                    <td class="pa">₹ <%= data.pendingAmount %></td>
                    <td>₹ <%= data.paidAmount %></td>
                    <td class="reducedDateFont"> <%
                        let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                        let t=(data.paidOnDate).toLocaleDateString("en-US",options);
                        
                         %><b> <%=t%></b></td>
                   
                    <td>
                        
                        <%
                        let PS=data.rentPaymentStatus;
                        let colorClass="";
                        
                        if(PS==="PAID IN FULL")
                          {
                              colorClass="green";
                          }else if(PS==="PARTIAL"){
                              colorClass="orange";
                          }else{
                              colorClass="red";
                          }%>
                        
                        
                        <b class="<%=colorClass%>">   <%= data.rentPaymentStatus %> </b> 
                    </td>


                    </tr>

               <% });%>
               
                    <tr>
                        <form action="/tenantRent/<%= tenantID %>" method="POST">
                        
                            <td> <select name="rentMonth" class="dropdown form-control"  required id="rentMonth">
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
            
                            </select> 
                        </td> 

                        <td>
                            <input class="form-control no-spin" type="number" name="fixedRent"  readonly  value="<%= fixedRent %>" id="fixedRent">

                        </td>
                        <td>
                            <input class="form-control no-spin" type="number" name="pendingRent"  readonly  value="<%= pending %>" id="pendingRent" >


                        </td>
                        <td>
                            <input class="form-control no-spin" type="number" name="paidAmount" min=0 required value="<%= paidAmount %> " id="paidAmount">
                        </td>
                        <td>
                            <input class="form-control" type="date" name="paidOnDate" required>
                        </td>

                       

                        

                        <td>
                            <select class="dropdown form-control" name="paymentStatus" id="rentPaymentStatus">
                                <option value="PAID IN FULL" ><span class="green"></span>PAID IN FULL</span></option>
                            
                            <option value="UNPAID"> <span class="red">UNPAID</span> </option>
                            <option value="PARTIAL"> <span class="yellow">PARTIAL</span> </option>
                            </select>
                        </td>


                        
                        
                        
                        




                    </tr>

            </tbody>
        
        </table>

        <button class="btn btn-md btn-outline-success" type="submit" >Update</button>
    </form>

    </div>

</div>

<%-include("footer") -%>